# Node
node_modules/
.next/
build/
dist/
*.log

# Python
__pycache__/
*.pyc
.venv/
.env
.env.template
*.local
config/credentials.yaml
config/creds.tpl

# VSCode
.vscode/

# Docker
**/data/

# OS
.DS_Store
Thumbs.db
venv/
